<a href="/"><img src="medshop2.png"></a>
<p><span class="glyphicon glyphicon-envelope"> support@medshop.com</p>
<p><span class="glyphicon glyphicon-earphone"> 123-456-7890</p>
<p><span class="glyphicon glyphicon-map-marker"> 12345 Health Drive Medville, IL 67890</p>
<p><span class="glyphicon glyphicon-copyright-mark"> MedShop 2020</p>
